# Ignore compiled files
*.class
*.war
*.ear
*.jar

# Ignore dependencies
/lib/
/node_modules/
/bower_components/

# Ignore IDE files
/.idea/
/.vscode/

# Ignore logs and temporary files
*.log
*.tmp
*.pid

# Ignore configuration files
*.conf
*.ini
*.env

# Ignore sensitive information
.secret
