html {
    font-family: 'Sen', sans-serif;
}

body {
    height: 100vh;
    min-height: 1000px;
    //background: linear-gradient(180deg, #FD7762 21.75%, #994A44 94.86%);
    margin: auto;
}

.mobile-outline{
    background: linear-gradient(#ffffff, #5296A7);
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}
h2 {
    font-size: 1.5rem;
    font-weight: bold;
}
h3 {
    font-size: 1.2rem;
    font-weight: bold;
}

p {
    font-size: 1rem;
    font-weight: normal;
}

.title-section {
    position: sticky;
    position: -webkit-sticky; /* for Safari */
    top: 0;
    z-index: 10;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    color: #000000;
    margin: 3rem 1.5rem 0 1.5rem;
}
/* place right buttom on the right side */
.title-section .justify-right {
    margin-left: auto;
}
// flip arrow + invert padding
.title-section .justify-right img {
    transform: rotate(180deg);
    padding-top: 0;
    padding-bottom: 4px;
}
.title-section h1 {
    padding-left: 10px;
    text-shadow: -2px 4px 6px rgba(0, 0, 0, 0.25);
    //color: white;
}
.title-section img {
    padding-top: 4px;
}
.title-section button {
    width: 3rem;
    height: 30px;
    border-radius: 7px;
    border-color: transparent;

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
        transition: transform 0.5s ease-in-out;
    }

    // &::before {
    //     border-radius: 20px;
    //     background: #A0A0A7;
    //     transform: translate(-20px, 20px);
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     right: 0;
    //     left: 0;
    //     bottom: 0;
    //     z-index: -1;
    //     mix-blend-mode: multiply;
    //     opacity: 0.75;
    //     filter: blur(20px);
    // }
}
.title-section button:nth-child(1) {
    background: linear-gradient(244.85deg, #073341 19.47%, #377F7B 99.92%);
}
.title-section button:nth-child(3) {
    background: linear-gradient(244.85deg, #FF9C38 19.47%, #FE7C04 99.92%);
}


.tags {
    display: flex;
    flex-direction: row;
    grid-gap: 1rem;
    padding: 0 1rem;
    margin-top: -1rem;
    justify-content: space-evenly;
}

.tag {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    //color: white;
}
.color-line {
    margin: 0 0.5rem;
    width: 15px;
    height: 5px;

    &.yellow {
        background: #F2D394;
    }
    &.rose {
        background: #C74C54;
    }
    &.coral {
        background: #194347;
    }
}

section {
    margin-bottom: 5rem;
}
.grid-container {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    padding: 0 1rem 8rem 1rem;
    //margin: 0 0 0 2em;
    color: #ffffff;
    font-size: 0.5rem;
    justify-items: center;
}

.grid-item {
    border-radius: 12px;
    position: relative;
    box-sizing: border-box;
    padding: 0.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 10rem;
    max-width: 15rem;
    box-shadow: -1em 10px 10px rgba(0, 0, 0, 0.20);

    &.orange {
        background: linear-gradient(180deg, #FBB21A 0%, #EA8105 100%);
    }
    &.image-item {
        background-image: url('./space_painting.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    &.lightblue-1 {
        background: linear-gradient(180deg, #0C839C 0%, #10E9DF 100%);
    }
    &.rose {
        background: linear-gradient(180deg, #A44244 0%, #F15767 100%);
    }
    &.peach {
        background: linear-gradient(180deg, #CE6D61 0%, #FBB087 100%);
    }
    &.lightblue-2 {
        background: linear-gradient(180deg, #08B7B2 0%, #14DFCA 100%);
    }
    &.peach-2 {
        background: linear-gradient(180deg, #E25F5F 0%, #FBB487 100%);
    }
    &.orange-2 {
        background: linear-gradient(180deg, #C46805 0%, #F19308 100%);
    }

    // changed these psedo elems because they conflicted with gsap anims

    // &:hover {
    //     cursor: pointer;
    //     transform: scale(1.05);
    //     transition: transform 0.2s ease-in-out;
    // }

    // &::before {
    //     border-radius: 20px;
    //     background: #A0A0A7;
    //     transform: translate(-20px, 20px);
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     right: 0;
    //     left: 0;
    //     bottom: 0;
    //     z-index: -1;
    //     mix-blend-mode: multiply;
    //     opacity: 0.75;
    //     filter: blur(20px);
    // }
}

.grid-item h3 {
    text-shadow: -2px 4px 6px rgba(0, 0, 0, 0.20);
    margin-bottom: 3rem;
}
.grid-item p {
    font-size: .7rem;
    margin-bottom: .2rem;
    color: rgba(255, 255, 255, .8);
}
.grid-item .price {
    font-weight: bold;
    margin-top: .2rem;
    color: #000000;
}
.grid-item .price.invert-color {
    color: #ffffff;
}
.grid-item hr {
    width: 100%;
    border-top: .5px solid #ffffff61;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    //padding: 1rem;
    background: #ffffff;
    color: #ffffff;
    font-size: 0.5rem;
    font-weight: 300;
    text-align: center;
    margin-top: 2rem;
    //background: linear-gradient(90deg, #D85001 26.5%, #FD6800 100%);
    background: linear-gradient(90deg, #FD7762 21.75%, #b3625d 94.86%);

    // position: absolute;
    //border-radius: 43px;
}

footer img {
    cursor: pointer;

    &:hover {
        transform: scale(1.25);
        transition: transform 0.3s ease-in-out;
    }
}

.info-content {
    display: none;
}

//media query for desktop
@media (min-width: 485px) {
    .parent-container {
        display: flex;
        flex-direction: row;
        // align-items: flex-start;
        justify-content: space-around;
    }
    .mobile-outline {
        border: 3px solid black;
        margin: 0 1rem;
        max-width: 405px;
    }
    .grid-container {
        padding-bottom: 2rem;
    }
    footer {
        width: 24rem;
    }
    .info-content {
        display: block;
        position: sticky;
        position: -webkit-sticky; /* for Safari */
        top: 4rem;
        align-self: flex-start;
        overflow-x: hidden;
        max-width: 35rem;
    }
    .info-footer {
        position: fixed;
        bottom: 0;
    }
}

@media (min-width: 768px) {
    .info-footer {
        width: 50%;
        text-align: center;
    }
}

@media (min-width: 1156px) {
    .info-footer {
        width: auto;
        text-align: center;
    }
}