.title-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    color: red;
}
/* place right buttom on the right side */
.title-section .justify-right {
    margin-left: auto;
}

.tags {

}

.tag {

}

.grid-container {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    padding: 0 1rem;
    margin: 0 0 0 2em;
    color: black;
    font-size: 0.5rem;
}

.grid-item {
    border-radius: 20px;
    position: relative;
    box-sizing: border-box;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &.orange {
        background: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    }

    &.blue {
        background: linear-gradient(45deg, #a18cd1 0%, #fbc2eb 99%, #fbc2eb 100%);
    }
}